<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    <%= @week.week_code %>
  <% end %>

  <%= button_to(
    "Update",
    "/admin/period/weeks/#{@week.id}/job",
    method: :post,
    class: "min-w-max-content bg-cyan-300 hover:bg-cyan-200 text-black font-bold py-2 px-4 rounded"
  ) %>


  <% if @prev.present? %>
    <a href="/admin/period/weeks/<%= @prev.id %>" class="text-blue-700 underline">
      Prev
    </a>
  <% end %>

<%= @next_code %>
  <% if @next.present? %>
    <a href="/admin/period/weeks/<%= @next.id %>" class="text-blue-700 underline">
      Next
    </a>
  <% end %>

  <h2 class="text-2xl font-bold">
    Days
  </h2>


  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Searches</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Results</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Documents</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Target</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">

      <% @week.days.chronological.each do |day| %>
        <tr>
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
            <a class="text-blue-700 underline" href="/admin/period/days/<%= day.id %>">
              <%= day.ymd %>
            </a>
          </td>

          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            <%= day.searches.count %>
          </td>

          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            <%= day.results.count %>
          </td>

          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            <%= day.documents.count %>
          </td>

          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            <%= day.remote_total %>
          </td>

        </tr>
      <% end %>

    </tbody>
  </table>

  <div class="flex flex-row justify-between">
    <h2 class="text-2xl font-bold">
      Documents
    </h2>
  </div>
  <%= column_chart @week.days.chronological.map { |d| [d.date.strftime("%Y-%m-%d"), d.documents.count] }.to_h %>

</div>