<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Legal Element
  <% end %>

  <p>
    <%= @document.document_name %>
    <br />
    <%= @revision.revision_name %>
    <br />
    <%= @element.element_code %>
  </p>

  <%= form_for(
    @element,
    as: "element",
    url: "/admin/labour_law/elements/#{@element.id}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>

    <% if @element.errors.any? %>
      <div class="error error-success note-shadow">
        <% @element.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :element_index %>
      <%= f.text_field :element_index %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :element_type %>
      <%= f.text_field :element_type %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :element_code %>
      <%= f.text_field :element_code %>
    <% end %>

    <div class="w-128 flex flex-col">
      <%= f.label :element_text %>
      <%= f.text_area :element_text, size: "128x8", html: { class: "font-mono" } %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>

  <div class="flex flex-row gap-4">

    <%= link_to(
      "New",
      "/admin/labour_law/elements/new?revision_code=#{@revision.revision_code}",
      class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
    ) %>

    <%= link_to(
      "New paragraph",
      "/admin/labour_law/elements/new?revision_code=#{@revision.revision_code}&type=new_paragraph",
      class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
    ) %>

    <%= link_to(
      "Insert after",
      "/admin/labour_law/elements/new?revision_code=#{@revision.revision_code}&type=new_paragraph&position=after&element_id=#{@element.id}",
      class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
    ) %>

  </div>

  <% @element.translations.each do |translation| %>
    <h2 class="text-2xl bold">
      <%= translation.translation_locale %>
    </h2>

    <%= form_for(
      translation,
      as: "translation",
      url: "/admin/labour_law/translations/#{translation.id}",
      builder: TailwindBuilder,
      :html => {class: "flex flex-col gap-8" }) do |f| %>

      <div class="w-128 flex flex-col">
        <%= f.label :translation_text %>
        <%= f.text_area :translation_text, size: "128x8", html: { class: "font-mono" } %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>

  <% end %>
<% end %>

</div>