<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Legal Revision
  <% end %>

  <%= form_for(
    @revision,
    as: "revision",
    url: admin_labour_law_revision_path(@revision),
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>

    <% if @revision.errors.any? %>
      <div class="error error-success note-shadow">
        <% @revision.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_name %>
      <%= f.text_field :revision_name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_code %>
      <%= f.text_field :revision_code %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_status %>
      <%= f.select :revision_status, [
        ["Draft", "draft"],
        ["Published", "published"],
        ["Replaced", "replaced"],
      ] %>
    <% end %>

      <div class="w-128 flex flex-col">
        <%= f.label :revision_notice %>
        <%= f.text_area :revision_notice, size: "128x8", html: { class: "font-mono" } %>
      </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>
</div>