<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Legal Revision
  <% end %>

  <%= form_for(
    @revision,
    as: "revision",
    url: "/admin/labour_law/revisions/#{@revision.revision_code}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>

    <% if @revision.errors.any? %>
      <div class="error error-success note-shadow">
        <% @revision.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_name %>
      <%= f.text_field :revision_name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_code %>
      <%= f.text_field :revision_code %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_status %>
      <%= f.select :revision_status, [
        ["Draft", "draft"],
        ["Published", "published"],
      ] %>
    <% end %>

      <div class="w-128 flex flex-col">
        <%= f.label :revision_notice %>
        <%= f.text_area :revision_notice, size: "128x8", html: { class: "font-mono" } %>
      </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>

  <%= form_for(
    @revision,
    as: "revision",
    url: "/admin/labour_law/revisions/#{@revision.revision_code}/copy",
    builder: TailwindBuilder,
    method: :post,
    :html => {class: "flex flex-col gap-8" }) do |f| %>
    <div class="actions">
      <%= f.submit "Copy" %>
    </div>
  <% end %>

  <section class="w-full flex flex-col gap-10 flex-1">
    <h2 class="text-2xl">
      Elements
    </h2>

    <%= link_to(
      "New",
      "/admin/labour_law/elements/new?revision_code=#{@revision.revision_code}",
      class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
    ) %>

    <%= render partial: "admin/icon-list", locals: {
      items: @revision.elements.index_order.map do |element|
        {
          icon: "fa-solid fa-calendar-days",
          top: {
            text: "#{element.element_chapter ? "Chapter #{element.element_chapter} " : ""}#{element.element_section ? "Section #{element.element_section} " : ""}#{element.element_paragraph ? "Paragraph #{element.element_paragraph} " : ""}",
            href: "/admin/labour_law/elements/#{element.id}",
          },
          bottom: {
            text: "#{element.element_index}",
            extra: "#{element.element_text}",
          },
        }
      end
    } %>

  </section>

</div>