<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    <%= @document.document_name %>
  <% end %>

  <%= form_for(
    @document,
    as: "document",
    url: admin_labour_law_document_path(@document),
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>


    <% if @document.errors.any? %>
      <div class="error error-success note-shadow">
        <% @document.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :document_name %>
      <%= f.text_field :document_name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :document_code %>
      <%= f.text_field :document_code %>
    <% end %>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>

  <% end %>
</div>