<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Legal Document
  <% end %>

  <%= form_for(
    @document,
    as: "document",
    url: "/admin/labour_law/documents/#{@document.document_code}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>


    <% if @document.errors.any? %>
      <div class="error error-success note-shadow">
        <% @document.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :document_name %>
      <%= f.text_field :document_name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :document_code %>
      <%= f.text_field :document_code %>
    <% end %>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>

  <% end %>

  <h2 class="text-2xl">
    Revisions
  </h2>


   <%= render partial: "admin/icon-list", locals: {
    items: (@document.revisions.map do |revision|
      {
        icon: "fa-solid fa-book",
        top: {
          text: revision.revision_name,
          href: "/admin/labour_law/revisions/#{revision.revision_code}"  },
        bottom: { text: revision.revision_code },
      }
    end).concat([
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: "/"
        },
        bottom: { text: "" },
      }])
          
  } %>

</div>