<% content_for(:opengraph) do %>
  <meta
    property="og:description"
    content="<%= @elements.map { |l,r| r }.filter {  |e| e.element_type === "md" }.map(&:element_text).join("\n") %>">
  <meta property="og:title" content="<%= @title %>" />
<% end %>

<div class="container flex flex-col gap-10 w-full p-4 sm:p-8">

  <%= h1 do %>
    <%= @title %>
    <br />
    <span class="text-lg leading-1 align-top text-slate-500">
      Version 2014:659, English translation
    </span>
  <% end %>

  <p>
    <% if @document.document_code == "1977:1160" then %>
      <a href="/1977:1160/2014:659" class="text-blue-700 underline">
        Overview of the entire Work Environment Act
      </a>
    <% elsif @document.document_code == "1976:580" then %>
      <a href="/1976:580/2021:1114" class="text-blue-700 underline">
        Overview of the entire Co-Determination Act
      </a>
    <% end %>
  </p>

  <%= render partial: "legal/outdated" %>

  <table class="">
    <thead>
      <th width="50%"></th>
      <th width="50%"></th>
    </thead>

    <tbody>
      <% @elements.each do |left, right| %>
        <tr>
          <% if left.element_type == "h1" %>
            <td class="text-base lg:text-2xl font-bold align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="text-base lg:text-2xl font-bold align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h2" %>
            <td class="text-base lg:text-xl font-bold py-4 align-top text-ellipsis <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="text-base lg:text-xl font-bold py-4 align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h3" %>
            <td class="text-base lg:text-lg font-bold pt-4 align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="text-base lg:text-lg font-bold pt-4 align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% else %>
            <td class="text-xs md:text-base lg:text-lg py-4 align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= @redcarpet.render(left.element_text).html_safe %>
            </td>
            <td class="text-xs md:text-base lg:text-lg py-4 align-top <<%= both_sides %> <%= right_classes %>" lang="en">
              <%= @redcarpet.render(right.element_text).html_safe  %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <%= render partial: "legal/sources" %>

    </tbody>
  </table>

</div>