<% content_for(:opengraph) do %>
  <meta
    property="og:description"
    content="<%= @elements.map { |l,r| r }.filter {  |e| e.element_type === "md" }.map(&:element_text).join("\n") %>">
  <meta property="og:title" content="<%= @title %>" />
<% end %>

<div class="flex flex-col w-full p-2 sm:px-4 lg:px-0 pt-8 max-w-5xl">

  <%= h1 do %>
    <span class="font-extralight">
      <%= @page_title %>
    </span>
    <br />
    <span class="text-lg leading-1 align-top text-slate-500 font-light">
      Version <%= @revision.revision_code %>, English translation
    </span>
  <% end %>

  <p>
    <a href="/<%= @document.document_code %>-v<%= @revision.revision_code %>-in-english" class="text-blue-700 underline">
      <% if @document.document_code == "aml" then %>
        Overview of the entire Work Environment Act
      <% elsif @document.document_code == "mbl" then %>
        Overview of the entire Co-Determination Act
      <% elsif @document.document_code == "las" then %>
        Overview of the entire Employment Protection Act
      <% elsif @document.document_code == "atl" then %>
        Overview of the entire Working Hours Act
      <% end %>
    </a>
  </p>

  <%= render partial: "legal/outdated" %>

  <table class="mt-8">
    <thead>
      <th width="50%"></th>
      <th width="50%"></th>
    </thead>

    <tbody>
      <% @elements.each do |left, right| %>
        <tr>
          <% if left.element_type == "h1" %>
            <td class="prose text-base lg:text-2xl font-normal align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="prose text-base lg:text-2xl font-normal align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h2" %>
            <td class="prose text-base lg:text-xl font-bold py-4 align-top text-ellipsis <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="prose text-base lg:text-xl font-bold py-4 align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h3" %>
            <td class="prose text-base lg:text-lg font-bold pt-4 align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= left.element_text %>
            </td>
            <td class="prose text-base lg:text-lg font-bold pt-4 align-top <%= both_sides %> <%= right_classes %>" lang="en">
              <%= right.element_text %>
            </td>
          <% else %>
            <td class="prose text-xs md:text-base lg:text-lg py-4 align-top <%= both_sides %> <%= left_classes %>" lang="sv">
              <%= @redcarpet.render(left.element_text).html_safe %>
            </td>
            <td class="prose text-xs md:text-base lg:text-lg py-4 align-top <<%= both_sides %> <%= right_classes %>" lang="en">
              <%= @redcarpet.render(right.element_text).html_safe  %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <%= render partial: "legal/sources" %>

    </tbody>
  </table>

</div>