<div class="flex flex-col gap-8 w-full p-4 pt-8 lg:px-0 max-w-5xl">

  <%= render layout: "shared/h1" do %>
    Password
  <% end %>

  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8 max-w-xs", method: :put }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render layout: "shared/field" do %>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    <% end %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

</div>
