<div class="container flex flex-col gap-8 w-full p-8">

  <%= render layout: "shared/h1" do %>
    <%= t("registration.title") %>
  <% end %>


  <div class="flex flex-col gap-2">
    <p>
      You need the official ID code for the company you want to follow.
      This is called their <em lang="sv">organisationsnummer</em> in Swedish.
      Sweden's Company Registration Office has a <a class="text-blue-700 underline" href="https://foretagsinfo.bolagsverket.se/sok-foretagsinformation-web/foretag">company search tool</a> which you can use to find it if you don't already have it.
      A valid <em lang="sv">organisationsnummer</em> is ten digits with a dash between the six and seventh, like <tt>123456-7890</tt>.</p>
    </p>

    <p>
      You can also subscribe to a workplace CFAR number if you prefer.
      For large employers with hundreds of workplaces, such as city councils, CFAR subscriptions might be better.
      Statistics Sweden provides a <a class="text-blue-700 underline" href="https://cfarnrsok.scb.se/">workplace search tool</a> that you can use to find a CFAR if you don't already know it.
      A valid CFAR is eight digits, like <tt>12345678</tt>.
    </p>
  </div>

  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render layout: "shared/field" do %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :locale %>
      <%= f.select(:locale, options_for_select(
        I18n.available_locales.map { |locale| [
          t("locales.#{locale}", :locale => locale),
          locale
        ]
      }, I18n.locale)) %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <div class="flex flex-row justify-between">
        <%= f.label :company_code %>
        <a href="/follow" target="_blank" class="text-blue-700 ">
          help
        </a>
      </div>
      <%= f.text_field :company_code, :placeholder => "123456-7890" %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <% end %>

    <div class="actions">
      <%= f.submit t("registration.button") %>
    </div>

  <% end %>

</div>
