<tr>
  <td class="<%= both_sides %> <%= left_classes %>">
    <% if @revision.revision_source.present? %>
      Source:
      <a class="text-blue-700 underline" href="<%= @revision.revision_source %>">
        <%= Addressable::URI.parse(@revision.revision_source).host %>
      </a>
    <% end %>
  </td>
  <td class="<%= both_sides %> <%= right_classes %>">
  </td>
</tr>