<div class="container flex flex-col gap-8 w-full p-8">

  <h1 class="font-bold text-4xl">
    <%=t(".title")%>
  </h1>

  <p>
    <%=t(".hello", name: @user.name)%>
    <%=t(".subscription", company: @user.subscriptions.first.company_code)%>
    <% if @last_refresh == nil %>
      <%=t(".last_refresh.never")%>
    <% else %>
      <%=t(".last_refresh.date", when: time_ago_in_words(@last_refresh.created_at))%>
    <% end %>

  </p>

  <% if @user.notifications.count > 0 %>
    <ol>
      <% @user.notifications.each do |notification| %>
        <li>
          <%= notification.result.document_code %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <div class="flex flex-row gap-4">

    <% unless @user.notifications.empty? %>
      <%= button_to(
        "Email",
        "/notifications/#{@user.notifications.last.id}/email",
        method: :post,
        class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      ) %>
    <% end %>

    <%= button_to(
      "Refresh",
      "/subscriptions/#{@user.subscriptions.first.id}/refresh",
      method: :post,
      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    ) %>

    <%= button_to(
      t(".logout"),
      destroy_user_session_path,
      method: :delete,
      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    ) %>

  </div>

</div>
