  <section class="container flex flex-col items-center gap-8 md:flex-row py-8 min-h-[50vh]">

    <div class="
      py5 items-center flex flex-col gap-4
      sm:mx-auto sm:items-start
      md:flex-2
    ">

      <img alt="" src="/logo.png" class="max-w-[100px]" />

      <h1 class="text-center sm:text-start text-3xl text-gray-800 font-semibold md:text-4xl">
        <%= t(".blurb") %>
      </h1>

      <p class="text-center sm:text-start text-gray-500 leading-relaxed text-xl">
        <%=t(".pitch")%>
      </p>

      <div class="flex flex-col gap-4 items-center xs:flex-row xs:justify-start"> <!--xs:justify-center sm:justify-start ">-->
        <%= link_to(
          t(".register"),
          new_user_registration_path,
          class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-1 sm:min-w-full", method: :post
        ) %>
        <%= link_to(
          t(".login"),
          new_user_session_path,
          class: "text-blue-500 hover:bg-blue-700 hover:text-white font-bold py-2 px-4 rounded flex-1 sm:min-w-full"
        ) %>
      </div>

    </div>

    <div class="flex-1">
      <div class="relative border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
        <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"></div>
        <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"></div>
        <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
          <img src="/email-<%= I18n.locale %>.png" class="w-[272px] h-[572px]" alt="">
        </div>
      </div>
    </div>

</section>

<section class="flex flex-col flex=1 w-full items-center gap-8 bg-slate-200 min-h-[50vh] py-8 justify-center">
  <div class="container ">
    <ol class="flex flex-col gap-4">
      <% ["Privacy Policy", "Terms of Service", "Accessibility Statement"].map do |name| %>
        <li>
          <a href="" class="text-blue-700">
            <%= name %>
          </a>
        </li>
      <% end %>
    </ol>
  </div>
</section>