<% if @format == "html" %>
  <!doctype html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>

      <h1>
        <%= t(".title",
        name: @user.name,
        document_code: @result.document_code,
      ) %>
      </h1>

      <p>
        <%= t(".subscription",
        company: "",
      ) %>
      </p>

      <p>
        <%= @result.document_code %>:
        <%= @result.document_type %>
      </p>

      <p>
        <%= t(".link_preamble") %>
        <a href="https://www.av.se/om-oss/sok-i-arbetsmiljoverkets-diarium/?id=<%= @result.document_code %>">
          https://www.av.se/om-oss/sok-i-arbetsmiljoverkets-diarium/?id=<%= @result.document_code %>
        </a>
      </p>

      <p>
        <%= t(".email_instructions") %>
      </p>

    </body>
  </html>
<% elsif @format == "text" %>

  <%= t(".title",
  name: @user.name,
  document_code: @result.document_code,
) %>

  <%= t(".subscription",
  company: @result.company_name,
) %>

  <%= @result.document_code %>: <%= @result.document_type %>

  <%= t(".link_preamble") %>
  https://www.av.se/om-oss/sok-i-arbetsmiljoverkets-diarium/?id=<%= @result.document_code %>

  <%= t(".email_instructions") %>

<% end %>
