<tr>
  <% if left.document_heading? %>
    <td class="prose text-base lg:text-2xl font-normal align-top <%= both_sides %> <%= left_classes %>">
      <%= left.element_text %>
    </td>
    <td class="prose text-base lg:text-2xl font-normal align-top <%= both_sides %> <%= right_classes %>">
      <%= right.element_text %>
    </td>
  <% elsif left.chapter_heading? or left.group_heading? %>
    <td class="prose text-base lg:text-xl font-bold py-4 align-top text-ellipsis <%= both_sides %> <%= left_classes %>">
      <%= left.element_text %>
    </td>
    <td class="prose text-base lg:text-xl font-bold py-4 align-top <%= both_sides %> <%= right_classes %>">
      <%= right.element_text %>
    </td>
  <% elsif left.section_heading? %>
    <td class="prose text-base lg:text-xl font-bold pt-4 align-top <%= both_sides %> <%= left_classes %>">
      <% if links %>
        <a class="text-blue-700 underline" href="<%= labour_law_element_path(@document.document_slug, @revision.revision_code, left.element_slug) %>">
          <%= left.element_text %>
        </a>
      <% else %>
        <%= left.element_text %>
      <% end %>
    </td>
    <td class="prose text-base lg:text-xl font-bold pt-4 align-top <%= both_sides %> <%= right_classes %>">
      <% if links %>
        <a class="text-blue-700 underline" href="<%= labour_law_element_path(@document.document_slug, @revision.revision_code, left.element_slug) %>">
          <%= right.element_text %>
        </a>
      <% else %>
        <%= right.element_text %>
      <% end %>
    </td>
  <% else %>
    <td class="prose text-xs md:text-base lg:text-lg py-4 align-top <%= both_sides %> <%= left_classes %>">
      <%= @redcarpet.render(left.element_text).html_safe %>
    </td>
    <td class="prose text-xs md:text-base lg:text-lg py-4 align-top <<%= both_sides %> <%= right_classes %>">
      <%= @redcarpet.render(right.element_text).html_safe %>
    </td>
  <% end %>
</tr>