  <ul role="list" class="flex flex-col gap-8">
    <% items.each do |item| %>
      <li class="flex justify-between gap-x-6">
        <div class="flex min-w-0 gap-x-4">
          
          <div class="px-1">
            <span class="w-12 h-12 rounded-full grid place-content-center border-4 border-black">
              <i class="<%= item[:icon] %> text-xl"></i>
            </span>
          </div>
          <div class="min-w-0 flex-auto flex flex-col justify-center">
            <p class="text-md font-semibold leading-6 text-gray-900">
              <% if item[:top][:html] %>
                <%= item[:top][:html].html_safe %>
              <% elsif item[:top][:href] %>
                <a class="text-blue-700" href="<%= item[:top][:href] %>">
                  <%= item[:top][:text] %>
                </a>
              <% else %>
                <%= item[:top][:text] %>
              <% end %>
            </p>
            <% if item[:bottom].present? %>
              <p class="mt-1 truncate text-sm leading-5 text-gray-500">
                <%= item[:bottom][:text] %>
              </p>
              <% if item[:bottom][:extra] %>
                <p class="mt-1 truncate text-sm leading-5 text-gray-500">
                  <%= item[:bottom][:extra] %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>