<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Post
  <% end %>

  <%= form_for(
    @post,
    as: "post",
    url: "/admin/posts/#{@post.slug}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>


    <% if @post.errors.any? %>
      <div class="error error-success note-shadow">
        <% @post.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :title %>
      <%= f.text_field :title %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :date %>
      <%= f.text_field :date %>
    <% end %>

    <div class="w-128 flex flex-col">
      <%= f.label :body_en %>
      <%= f.text_area :body_en, size: "128x32", html: { class: "font-mono" } %>
    </div>

    <div class="w-128 flex flex-col">
      <%= f.label :body_sv %>
      <%= f.text_area :body_sv, size: "128x32", html: { class: "font-mono" } %>
    </div>

    <div class="w-128 flex flex-col">
      <%= f.label :description %>
      <%= f.text_area :description, size: "128x8" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>

</div>