<div class="flex flex-col px-4 lg:px-0 pt-8 max-w-5xl w-full">
  <%= h1 do %>
    <span class="font-normal md:font-extralight">
      <%= @word.word_text %>
    </span>
    <br />
    <span class="text-lg leading-1 align-top text-slate-500 font-light">
      <%= @word.translations.first.translation_text %>
    </span>
  <% end %>

  <hr />

  <% @words.each do |word| %>
    <div>
      <h2 class="text-xl font-light text-slate-500">
        <%= word.word_text %>
      </h2>

      <% @word.translations.each do |translation| %>
        <div class="flex flex-col">
          <p class="text-base font-light text-slate-500">
            <%= translation.translation_text %>
          </p>
        </div>
      <% end %>
    </div>

    <hr />
  <% end %>
</div>