<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
    </style>
  </head>
  <body dir="<%= I18n.locale == :ar ? "rtl" : "ltr" %>" style="font-family: sans-serif">

    <p>
      <a href="https://henry.catalinismith.com/2025/01/12/shutting-down-666a/">
        <strong style="font-weight: 600">666a is shutting down</strong>
        <svg viewBox="0 0 2 2" style="width: 0.5rem; height: 0.5rem; fill: currentColor" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
        Here's how long's left
        <span aria-hidden="true">&rarr;</span>
      </a>
    </p>

    <h1 style="display: flex; align-items: center; column-gap: 0.5rem; font-size: 1.2rem">
      <img src="https://666a.se/logo-32.png" />
      <%= t("notification_email.title",
        document_code: @document.document_code,
      ) %>
    </h1>

    <p>
      <%= t("notification_email.greeting",
        name: @user.name,
      ) %>
    </p>

    <p>
      <%= t("notification_email.subscription",
        target: @target,
      ) %>
    </p>

    <p style="font-size: 1.1rem">
      <a href="<%= @url %>">
        <%= @document.document_code %>:
        <% if I18n.locale == "sv" %>
          <%= @document.document_type %>
        <% else %>
          <%= t("document_type." + @document.document_type) %>
        <% end %>
      </a>
    </p>

    <p>
      <%= t("notification_email.link_preamble") %>
      <br />
      <a href="<%= @url %>">
        <%= @url %>
      </a>
    </p>

    <p>
      <%= t("notification_email.unsubscribe", url: @unsubscribe_url).html_safe %>
    </p>

  </body>
</html>
