<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
    </style>
  </head>
  <body dir="<%= I18n.locale == :ar ? "rtl" : "ltr" %>" style="font-family: sans-serif">

    <h1 style="display: flex; align-items: center; column-gap: 0.5rem; font-size: 1.2rem">
      <img src="https://666a.se/logo-32.png" />
      <%= t("notification_email.title",
        document_code: @document.document_code,
      ) %>
    </h1>

    <div>
      <h2>About the lack of updates this week</h2>
      <p>
        Arbetsmiljöverket had a strange week this week (48).
        Nothing got published on the diarium all week, and then suddenly the whole week's worth of documents appeared all at once.
        That's why there weren't any email updated from 666a all week, and now you're getting a bunch of them all at once.
      </p>
      <p>
        I don't know what the deal was as I still don't have any contact with Arbetsmiljöverket about this project.
        Thanks for waiting anyway.
        BTW if you ever have any issues with the emails, you can reply to them to let me know.
        The replies come to my inbox.
      </p>
      <p>
        Henry
      </p>
    </div>

    <p>
      <%= t("notification_email.greeting",
        name: @user.name,
      ) %>
    </p>

    <p>
      <%= t("notification_email.subscription",
        target: @target,
      ) %>
    </p>

    <p style="font-size: 1.1rem">
      <a href="<%= @url %>">
        <%= @document.document_code %>:
        <% if I18n.locale == "sv" %>
          <%= @document.document_type %>
        <% else %>
          <%= t("document_type." + @document.document_type) %>
        <% end %>
      </a>
    </p>

    <p>
      <%= t("notification_email.link_preamble") %>
      <br />
      <a href="<%= @url %>">
        <%= @url %>
      </a>
    </p>

    <p>
      <%= t("notification_email.unsubscribe", url: @unsubscribe_url).html_safe %>
    </p>

  </body>
</html>
