
<div class="container flex flex-col gap-8 w-full p-8">

  <%= render layout: "shared/h1" do %>
    Pending Notifications
  <% end %>

  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">ID</th>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Date</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Company</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Case</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">

    <% @missing.each do |document| %>
      <tr>
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
            <a class="text-blue-700 underline" href="/legacy_admin/work_environment/documents/<%= document.id %>">
          <%= document.document_code %>
          </a>
        </td>
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
          <%= document.document_date.strftime("%Y-%m-%d") %>
        </td>
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
          <%= document.company_name %>
        </td>
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
          <%= document.case_name %>
        </td>
      </tr>
    <% end %>
  </ol>

</div>