<div class="container flex flex-col gap-8 w-full p-8">

  <%= render layout: "shared/h1" do %>
    Language
  <% end %>

  <%= form_for(
    current_user,
    as: "user",
    url: "/users/#{current_user.id}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8 max-w-xs" }) do |f| %>

    <%= render layout: "shared/field" do %>
      <%= f.label :locale %>
      <%= f.select(:locale, options_for_select(
        I18n.available_locales.map { |locale| [
          t("locales.#{locale}", :locale => locale),
          locale
        ]
      }, I18n.locale)) %>
    <% end %>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>

  <% end %>

</div>