<section class="flex flex-col items-center gap-8 px-8 lg:px-0 py-8 min-h-[50vh] max-w-5xl">

  <div class="py-8 mx-auto max-w-5xl w-full">

    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900">
        <%= t("target_audience.title") %>
      </h2>
      <p class="text-gray-500 sm:text-xl">
        <%= t("target_audience.text") %>
      </p>
    </div>

    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-shield",
        heading: t("target_audience_member.safety_officer.title"),
        text: t("target_audience_member.safety_officer.text"),
      } %>

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-hat-wizard",
        heading: t("target_audience_member.union_rep.title"),
        text: t("target_audience_member.union_rep.text"),
      } %>

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-hammer",
        heading: t("target_audience_member.employee.title"),
        text: t("target_audience_member.employee.text"),
      } %>

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-briefcase",
        heading: t("target_audience_member.ombudsman.title"),
        text: t("target_audience_member.ombudsman.text"),
      } %>

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-fire",
        heading: t("target_audience_member.organizer.title"),
        text: t("target_audience_member.organizer.text"),
      } %>

      <%= render partial: "home/target-audience-member", locals: {
        icon: "fa-newspaper",
        heading: t("target_audience_member.journalist.title"),
        text: t("target_audience_member.journalist.text"),
      } %>

    </div>

  </div>

</section>