<div class="container flex flex-col gap-8 w-full p-8">
    <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-calendar-day",
        href: "/admin/time_period/days",
        text: "Days",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-calendar-days",
    text: @day.ymd ,
  } %>

  <p>
    <a class="text-blue-700 underline" href="<%= "https://www.av.se/om-oss/sok-i-arbetsmiljoverkets-diarium/?SearchText=&OrganisationNumber=&RegisterNumber=&OnlyActive=false&FromDate=#{@day.ymd}&ToDate=#{@day.ymd}&SelectedCounty=&SelectedMunicipality=&SelectedHandlingType=" %>">
      Diarium
    </a>
  </p>

  <%= button_to(
    "Update",
    "/admin/time_period/days/#{@day.id}/job",
    method: :post,
    class: "min-w-max-content bg-cyan-300 hover:bg-cyan-200 text-black font-bold py-2 px-4 rounded"
  ) %>

  <dl>

    <dt>Searches</dt>
    <dd><%= @day.searches.count %></dd>

    <dt>Documents</dt>
    <dd><%= @day.documents.count %></dd>

    <dt>Latest hit count</dt>
    <dd><% if @day.searches.count > 0 %><%= @day.searches.last.hit_count %><% end %></dd>

  </dl>

</div>