<% content_for(:opengraph) do %>
  <meta property="og:description" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
<% end %>

<div class="flex flex-col gap-10 w-full px-4 lg:px-0 pt-8 max-w-5xl md:flex-row">
  <div class="prose w-full">
    <%= render_page(@content, @data).html_safe %>
  </div>

  <% if @data["layout"] == "policy" %>
    <%= render "pages/sidebar", title: "Policies", links: policies.map { |policy| { href: "/#{policy[:slug]}", text: t("home.#{policy[:slug]}") } } %>
  <% elsif @data["layout"] == "post" %>
    <%= render "pages/sidebar", title: "Archive", links: posts %>
  <% elsif @data["layout"] == "tech" %>
    <div class="flex flex-col gap-4 h-min min-w-64 w-[400px]">
      <%= render "pages/sidebar", title: "Development", links: [
        { href: "/development-environment-setup", text: "Environment Setup" },
      ] %>

      <%= render "pages/sidebar", title: "Operations", links: [
        { href: "/operations", text: "Overview" },
        { href: "/monitoring", text: "Monitoring" },
        { href: "/backups", text: "Backups" },
      ] %>

      <%= render "pages/sidebar", title: "Architecture", links: [
        { href: "/architecture", text: "Overview" },
        { href: "/architecture-decisions", text: "Decisions" },
      ] %>

    </div>
  <% elsif @data["layout"] == "about" %>

    </div>
  </div>

  <% end %>

</div>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
</script>