<div class="container flex flex-col gap-8 w-full p-8">

  <h1 class="text-3xl font-bold">
    Follow a company
  </h1>

  <p>
    You need the official ID code for the company you want to follow.
    This is called their <em lang="sv">organisationsnummer</em> in Swedish.
    Sweden's Company Registration Office has a <a class="text-blue-700 underline" href="https://foretagsinfo.bolagsverket.se/sok-foretagsinformation-web/foretag">company search tool</a> which you can use to find it if you don't already have it.
  </p>

  <%= form_for(
    @subscription,
    as: "subscription",
    url: "/follow",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8 max-w-xs" }) do |f| %>

    <% if @subscription.errors.any? %>
      <div class="error error-success note-shadow">
        <% @subscription.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <div class="w-64 flex flex-col">
      <%= f.label :company_code %>
      <%= f.text_field :company_code %>
    </div>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>

  <% end %>

</div>