<div class="container flex flex-col gap-8 w-full p-8">

  <h1 class="text-3xl font-bold">
    Follow a company
  </h1>

  <div class="flex flex-col gap-2">
    <p>
      You need the official ID code for the company you want to follow.
      This is called their <em lang="sv">organisationsnummer</em> in Swedish.
      Sweden's Company Registration Office has a <a class="text-blue-700 underline" href="https://foretagsinfo.bolagsverket.se/sok-foretagsinformation-web/foretag">company search tool</a> which you can use to find it if you don't already have it.
      A valid <em lang="sv">organisationsnummer</em> is ten digits with a dash between the six and seventh, like <tt>123456-7890</tt>.</p>
    </p>

    <p>
      You can also subscribe to a workplace CFAR number if you prefer.
      For large employers with hundreds of workplaces, such as city councils, CFAR subscriptions might be better.
      Statistics Sweden provides a <a class="text-blue-700 underline" href="https://cfarnrsok.scb.se/">workplace search tool</a> that you can use to find a CFAR if you don't already know it.
      A valid CFAR is eight digits, like <tt>12345678</tt>.
    </p>
  </div>

  <% if !current_user.nil? then %>

    <%= form_for(
      @subscription,
      as: "subscription",
      url: "/follow",
      builder: TailwindBuilder,
      :html => {class: "flex flex-col gap-8 max-w-xs" }) do |f| %>

      <% if @subscription.errors.any? %>
        <div class="error error-success note-shadow">
          <% @subscription.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <div class="w-64 flex flex-col">
        <%= f.label :company_code %>
        <%= f.text_field :company_code %>
      </div>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>

    <% end %>

  <% end %>

</div>