<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    <%= @day.ymd %>
  <% end %>

  <p>
    <a class="text-blue-700 underline" href="<%= "https://www.av.se/om-oss/sok-i-arbetsmiljoverkets-diarium/?SearchText=&OrganisationNumber=&RegisterNumber=&OnlyActive=false&FromDate=#{@day.ymd}&ToDate=#{@day.ymd}&SelectedCounty=&SelectedMunicipality=&SelectedHandlingType=" %>">
      Diarium
    </a>
  </p>

  <%= button_to(
    "Update",
    "/admin/period/days/#{@day.id}/job",
    method: :post,
    class: "min-w-max-content bg-cyan-300 hover:bg-cyan-200 text-black font-bold py-2 px-4 rounded"
  ) %>

  <dl>

    <dt>Searches</dt>
    <dd><%= @day.searches.count %></dd>

    <dt>Results</dt>
    <dd><%= @day.results.count %></dd>

    <dt>Documents</dt>
    <dd><%= @day.documents.count %></dd>

    <dt>Target</dt>
    <dd><%= @day.remote_total %></dd>

  </dl>

</div>