<div class="container flex flex-col gap-10 w-full p-8">
    <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-signature",
    text: "Policies",
  } %>

  <%= link_to(
    "New",
    "/admin/policies/new",
    class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
  ) %>

  <ol>
    <% @policies.each do |policy| %>
      <li>
        <a class="text-blue-700 underline" href="/admin/policies/<%= policy.slug %>">
          <%= policy.name %>
        </a>
      </li>
    <% end %>
  </ol>

</div>
