<div class="container flex flex-col gap-8 w-full p-8">
    <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-user",
        href: "/legacy_admin/users/",
        text: "Users",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-user",
    text: @user.name,
  } %>


  <%= render partial: "admin/icon-list", locals: {
    items: [
      {
        icon: "fa-solid fa-at",
        top: { text: "Email" },
        bottom: { text: @user.email, },
      },
    ]
  } %>

  <h2 class="text-2xl font-bold">
    Subscriptions
  </h2>

  <%= render partial: "admin/icon-list", locals: {
    items: @user.subscriptions.map do |subscription|
      {
        icon: "fa-solid fa-bookmark",
        top: { text: subscription.company_code || subscription.workplace_code },
        bottom: { text: subscription.subscription_type },
      }
    end
  } %>


  <h2 class="text-2xl font-bold">
    Notifications
  </h2>

  <%= render partial: "admin/icon-list", locals: {
    items: @user.notifications.reverse_chronological.map do |notification|
      {
        icon: "fa-solid fa-bell",
        top: {
          text: notification.subscription.company_code || notification.subscription.workplace_code,
          href: "/legacy_admin/work_environment/notifications/#{notification.id}",
        },
        bottom: { text: notification.created_at },
      }
    end
  } %>

</div>