<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Edit Legal Revision
  <% end %>

  <%= form_for(
    @revision,
    as: "revision",
    url: "/admin/legal/revisions/#{@revision.revision_code}",
    builder: TailwindBuilder,
    :html => {class: "flex flex-col gap-8" }) do |f| %>

    <% if @revision.errors.any? %>
      <div class="error error-success note-shadow">
        <% @revision.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_name %>
      <%= f.text_field :revision_name %>
    <% end %>

    <%= render layout: "shared/field" do %>
      <%= f.label :revision_code %>
      <%= f.text_field :revision_code %>
    <% end %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>

  <section class="w-full flex flex-col gap-10 flex-1 md:p-6 bg-white md:border md:border-gray-200 md:rounded-lg md:shadow">
    <h2 class="text-2xl">
      Elements
    </h2>

    <%= link_to(
      "New",
      "/admin/legal/elements/new?revision_code=#{@revision.revision_code}",
      class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
    ) %>

    <ol class="flex flex-col gap-4">
      <% @revision.elements.each do |element| %>
        <li>
          <a class="text-blue-700 underline" href="/admin/legal/elements/<%= element.element_code %>">
            <%= element.element_code %>
          </a>
        </li>
      <% end %>
    </ol>

  </section>

</div>