<div class="container flex flex-col gap-8 w-full p-4 py-8">

  <%= h1 do %>
    <% if @document.document_code == "1977:1160" then %>
      The Swedish Work Environment Act
    <% elsif @document.document_code == "1976:580" then %>
      The Swedish Co-Determination Act
    <% end %>
    <br />
    <span class="text-lg leading-1 align-top text-slate-500">
      <% if @document.document_code == "1977:1160" then %>
        Version 2014:659, English translation
      <% elsif @document.document_code == "1976:580" then %>
        Version 2021:1114, English translation
      <% end %>
    </span>
  <% end %>

  <%= render partial: "legal/outdated" %>

  <table>
    <thead>
      <th width="50%"></th>
      <th width="50%"></th>
    </thead>

    <tbody>
      <% @elements.each do |left, right| %>
        <tr>
          <% if left.element_type == "h1" %>
            <td class="text-base lg:text-2xl font-bold align-top <%= both_sides %> <%= left_classes %>">
              <%= left.element_text %>
            </td>
            <td class="text-base lg:text-2xl font-bold align-top <%= both_sides %> <%= right_classes %>">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h2" %>
            <td class="text-base lg:text-xl font-bold py-4 align-top text-ellipsis <%= both_sides %> <%= left_classes %>">
              <%= left.element_text %>
            </td>
            <td class="text-base lg:text-xl font-bold py-4 align-top <%= both_sides %> <%= right_classes %>">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h3" %>
            <td class="text-base lg:text-xl font-bold pt-4 align-top <%= both_sides %> <%= left_classes %>">
              <a class="text-blue-700 underline" href="/<%= @document.document_code %>/<%= @revision.revision_code %>/<%= left.element_code %>/sv:en">
                <%= left.element_text %>
              </a>
            </td>
            <td class="text-base lg:text-xl font-bold pt-4 align-top <%= both_sides %> <%= right_classes %>">
              <a class="text-blue-700 underline" href="/<%= @document.document_code %>/<%= @revision.revision_code %>/<%= left.element_code %>/sv:en">
                <%= right.element_text %>
              </a>
            </td>
          <% else %>
            <td class="text-xs md:text-base lg:text-lg py-4 align-top <%= both_sides %> <%= left_classes %>">
              <%= @redcarpet.render(left.element_text).html_safe %>
            </td>
            <td class="text-xs md:text-base lg:text-lg py-4 align-top <<%= both_sides %> <%= right_classes %>">
              <%= @redcarpet.render(right.element_text).html_safe %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <%= render partial: "legal/sources" %>

    </tbody>
  </table>

</div>