<div class="container flex flex-col gap-10 w-full p-2">

  <%= h1 do %>
    <%= @elements.first[1].element_text %>
  <% end %>

  <table>
    <thead>
      <th width="50%"></th>
      <th width="50%"></th>
    </thead>

    <tbody>
      <% @elements.each do |left, right| %>
        <tr>
          <% if left.element_type == "h1" %>
            <td class="text-xl font-bold align-top">
              <%= left.element_text %>
            </td>
            <td class="text-xl font-bold align-top">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h2" %>
            <td class="text-xl font-bold py-4 align-top max-w-[9px] overflow-hidden text-ellipsis">
              <%= left.element_text %>
            </td>
            <td class="text-xl font-bold py-4 align-top">
              <%= right.element_text %>
            </td>
          <% elsif left.element_type == "h3" %>
            <td class="text-xl font-bold pt-4 align-top">
              <a class="text-blue-700 " href="/<%= @document.document_code %>/<%= @revision.revision_code %>/<%= left.element_code %>/sv:en">
                <%= left.element_text %>
              </a>
            </td>
            <td class="text-xl font-bold pt-4 align-top">
              <a class="text-blue-700 " href="/<%= @document.document_code %>/<%= @revision.revision_code %>/<%= left.element_code %>/sv:en">
                <%= right.element_text %>
              </a>
            </td>
          <% else %>
            <td class="py-4 align-top">
              <%= @redcarpet.render(left.element_text).html_safe %>
            </td>
            <td class="py-4 align-top">
              <%= @redcarpet.render(right.element_text).html_safe %>
            </td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>