<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <title><%= @page_title || "666a" %></title>
    <% if content_for?(:canonical) %><%= yield :canonical %><% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:opengraph) %><%= yield :opengraph %><% end %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <script src="/menu.js"></script>
    <%= auto_discovery_link_tag(:rss, "/feed.xml", title: "666a") %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>

  <body dir="<%= I18n.locale == :ar ? "rtl" : "ltr" %>">
    <%= yield(:header) %>
    <main class="mx-auto flex flex-col items-center">
      <% if notice %>
        <%= render partial: "ui/flash-message", locals: {
          text: notice
        } %>
      <% end %>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>

</html>
