<!DOCTYPE html>
<html>

  <head>
    <title><%= @page_title || "6:6:6a" %></title>
    <% if content_for?(:canonical) %><%= yield :canonical %><% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:opengraph) %><%= yield :opengraph %><% end %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= auto_discovery_link_tag(:rss, "/feed.xml", title: "6:6:6a") %>
  </head>

  <body dir="<%= I18n.locale == :ar ? "rtl" : "ltr" %>">
    <%= yield(:header) %>
    <main class="mx-auto flex flex-col items-center">
      <% if notice %>
        <%= render partial: "ui/flash-message", locals: {
          text: notice
        } %>
      <% end %>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>

</html>
